/**
 *
 * Colors — generado por Tinty (base16/base24)
 **/
* {
    background:     #{{base00}}FF;
    background-alt: #{{base01}}FF;
    foreground:     #{{base05}}FF;
    selected:       #{{base0D}}FF;
    active:         #{{base0E}}FF;
    urgent:         #{{base08}}FF;
}
