window {
    background-color: rgba(15, 15, 20, 0.92);
}

button:hover {
    background-image: none;
    box-shadow: none;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.08);
}

button:hover>image {
    -gtk-icon-shadow: none;
    -gtk-icon-effect: none;
}

.highlighted-button {
    background-image: none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.15);
}

.highlighted-button>image, .highlighted-button:hover>image {
    -gtk-icon-effect: highlight;
}
