background = {{colors.background.default.hex}}
foreground = {{colors.on_background.default.hex}}
cursor-color = {{colors.primary.default.hex}}

palette = 0={{colors.background.default.hex}}
palette = 1={{colors.error.default.hex}}
palette = 2={{colors.tertiary.default.hex}}
palette = 3={{colors.secondary.default.hex}}
palette = 4={{colors.primary.default.hex}}
palette = 5={{colors.primary_container.default.hex}}
palette = 6={{colors.tertiary_container.default.hex}}
palette = 7={{colors.on_background.default.hex}}
palette = 8={{colors.outline.default.hex}}
palette = 9={{colors.error.default.hex}}
palette = 10={{colors.tertiary.default.hex}}
palette = 11={{colors.secondary.default.hex}}
palette = 12={{colors.primary.default.hex}}
palette = 13={{colors.primary_container.default.hex}}
palette = 14={{colors.tertiary_container.default.hex}}
palette = 15={{colors.on_background.default.hex}}
