/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Rofi Theme File
 * Rofi Version: 1.7.3
 **/

/*****----- Configuration -----*****/
configuration {
modi:                       "drun";
    show-icons:                 false;
    display-drun:               "Apps";
drun-display-format:        "{name}";
window-format:              "{w} · {c} · {t}";
}

/*****----- Global Properties -----*****/
@import "~/.config/theme-engine/colors.rasi"
@import "~/.config/rofi/font.rasi"

* {
    bordercolour:                @selected;
    handlecolour:                @foreground;
    backgroundcolour:            @background;
    foregroundcolour:            @foreground;
    alternatebackground:         @background-alt;
    normalbackground:            @background;
    normalforeground:            @foreground;
    urgentbackground:            @urgent;
    urgentforeground:            @background;
    activebackground:            @active;
    activeforeground:            @background;
    selectednormalbackground:    @selected;
    selectednormalforeground:    @selectedtext;
    selectedurgentbackground:    @urgent;
    selectedurgentforeground:    @background;
    selectedactivebackground:    @active;
    selectedactiveforeground:    @background;
    alternatenormalbackground:   @background;
    alternatenormalforeground:   @foreground;
    alternateurgentbackground:   @urgent;
    alternateurgentforeground:   @background;
    alternateactivebackground:   @active;
    alternateactiveforeground:   @background;
}

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    location:                    west;
    anchor:                      west;
    fullscreen:                  false;
    width:                       450px;
    height:                      100%;
    x-offset:                    0px;
    y-offset:                    0px;

    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @bordercolour;
    cursor:                      "default";
    background-color:            @backgroundcolour;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     20px;
    margin:                      0px;
    padding:                     40px;
    border:                      0px solid;
    border-radius:               0px 0px 0px 0px;
    border-color:                @bordercolour;
    background-color:            transparent;
    children:                    [ "inputbar", "message", "listview" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     8px;
    border:                      0px solid;
    border-radius:               4px;
    border-color:                @bordercolour;
    background-color:            @alternatebackground;
    text-color:                  @foregroundcolour;
    children:                    [ "prompt", "entry" ];
}

prompt {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
}
textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         "::";
    background-color:            inherit;
    text-color:                  inherit;
}
entry {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "search...";
    placeholder-color:           inherit;
}
num-filtered-rows {
    enabled:                     true;
    expand:                      false;
    background-color:            inherit;
    text-color:                  inherit;
}
textbox-num-sep {
    enabled:                     true;
    expand:                      false;
    str:                         "/";
    background-color:            inherit;
    text-color:                  inherit;
}
num-rows {
    enabled:                     true;
    expand:                      false;
    background-color:            inherit;
    text-color:                  inherit;
}
case-indicator {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       10;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;

    spacing:                     5px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @bordercolour;
    background-color:            transparent;
    text-color:                  @foregroundcolour;
    cursor:                      "default";
}
scrollbar {
    handle-width:                5px ;
    handle-color:                @handlecolour;
    border-radius:               8px;
    background-color:            @alternatebackground;
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     8px;
    margin:                      0px;
    padding:                     8px;
    border:                      0px solid;
    border-radius:               4px;
    border-color:                @bordercolour;
    background-color:            transparent;
    text-color:                  @foregroundcolour;
    cursor:                      pointer;
}
element normal.normal {
    background-color:            var(normalbackground);
    text-color:                  var(normalforeground);
}
element normal.urgent {
    background-color:            var(urgentbackground);
    text-color:                  var(urgentforeground);
}
element normal.active {
    background-color:            var(activebackground);
    text-color:                  var(activeforeground);
}
element selected.normal {
    background-color:            var(normalforeground);
    text-color:                  var(normalbackground);
}
element selected.urgent {
    background-color:            var(selectedurgentbackground);
    text-color:                  var(selectedurgentforeground);
}
element selected.active {
    background-color:            var(selectedactivebackground);
    text-color:                  var(selectedactiveforeground);
}
element alternate.normal {
    background-color:            var(alternatenormalbackground);
    text-color:                  var(alternatenormalforeground);
}
element alternate.urgent {
    background-color:            var(alternateurgentbackground);
    text-color:                  var(alternateurgentforeground);
}
element alternate.active {
    background-color:            var(alternateactivebackground);
    text-color:                  var(alternateactiveforeground);
}
element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        24px;
    cursor:                      inherit;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    highlight:                   inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

/*****----- Mode Switcher -----*****/
mode-switcher{
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               4px;
    border-color:                @bordercolour;
    background-color:            @alternatebackground;
    text-color:                  @foregroundcolour;
}
button {
    padding:                     8px;
    border:                      0px solid;
    border-radius:               4px;
    border-color:                @bordercolour;
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      pointer;
}
button selected {
    background-color:            var(normalforeground);
    text-color:                  var(normalbackground);
}

/*****----- Message -----*****/
message {
    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px 0px 0px 0px;
    border-color:                @bordercolour;
    background-color:            transparent;
    text-color:                  @foregroundcolour;
}
textbox {
    padding:                     8px;
    border:                      0px solid;
    border-radius:               4px;
    border-color:                @bordercolour;
    background-color:            @alternatebackground;
    text-color:                  @foregroundcolour;
    vertical-align:              0.5;
    horizontal-align:            0.0;
    highlight:                   none;
    placeholder-color:           @foregroundcolour;
    blink:                       true;
    markup:                      true;
}
error-message {
    padding:                     10px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @bordercolour;
    background-color:            @backgroundcolour;
    text-color:                  @foregroundcolour;
}
